<h1>Shanker's SMS Page</h1>
<p>Enter Text in the Form below and send a text</p>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Enter Text Here:") %>
  <%= text_field_tag(:q) %>
<% end %>
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Enter Phone Number Here:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Send Text") %>
<% end %>